* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('your-background-image.jpg'); /* Replace 'your-background-image.jpg' with the path to your background image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden; /* Prevent the background from scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
}

#cookie-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8); /* Use a semi-transparent white background for the cookie box */
    max-width: 365px;
    border-radius: 15px;
    padding: 25px;
    z-index: 1;
    backdrop-filter: blur(10px); /* Add a blurred effect to the background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow to the box */
}

#cookie-consent.hide {
    display: none;
}
