* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background-image: url('your-background-image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #cookie-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    max-width: 365px;
    border-radius: 15px;
    padding: 20px; /* Increase the padding to provide more space for content */
    z-index: 1;
    backdrop-filter: blur(10px);
  }
  
  #cookie-consent.hide {
    display: none;
  }
  
  #cookie-consent {
    text-align: center;
    background: #fff;
    max-width: 365px;
    border-radius: 15px;
    padding: 10px; 
    z-index: 1;
  }
  
  .cookieContent p {
    color: #858585;
    background-color: aliceblue;
    padding: 10px;
  }
  
  .cookieContent .button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  /* Add this style to make the text scrollable if it overflows the container */
  .cookieContent {
    max-height: 200px; /* Adjust the height as needed */
    overflow: auto;
  }
  