<style>
  /* Style for the cookie container */
  #cookie-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background overlay */
  }

  /* Style for the cookie consent form */
  #cookie-consent {
    background: #fff;
    max-width: 365px;
    border-radius: 15px;
    padding: 25px 25px 30px 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }

  /* Style for cookie image */
  #cookie-consent img {
    max-width: 90px;
  }

  /* Style for the content within the consent form */
  #cookie-consent .cookieContent {
    margin-top: 10px;
  }

  #cookie-consent .cookieContent header {
    font-size: 25px;
    font-weight: 600;
  }

  #cookie-consent .cookieContent p {
    color: #858585;
  }

  #cookie-consent .cookieContent .button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #cookie-consent .button button {
    padding: 10px 20px;
    background: #FCBA7F;
    border: none;
    outline: none;
    color: beige;
  }

  /* Hide the cookie consent by default */
  #cookie-consent {
    display: none;
  }
</style>