*{
  margin: 0;
  padding: 0;
  font-size: large;
  font-family: Century;
}
ul{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: black;
position:fixed;
top: 0;
width: 100%;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
border: 1px solid #e7e7e7;
/* background-color: #f3f3f3; */

}
li{
display: inline;
float: right;
position: relative;
padding: 14px 16px;
}
li a{
display: flex;
align-items: center;
justify-content: space-between;
color: white;
font-size: 24px;
font-weight: 600;
transition: 0,3s ease;
background:black;

padding: 40px 80px;
text-decoration: none;
}


/* Apply color change on hover and active */
li a:hover,
li a:active {
color: aqua;
}

/* Add the underline-like effect when hovering and active */
li a:active::after,
li a:hover::after {
content: "";
width: 30%;
height: 2px;
background: aqua;
position: absolute;
bottom: -2px;
left: 20px;
}

/* END OF BANNER */


/* SHOP YOUR AESTHEIC EDITING */

/* Apply Y2K street art-inspired styles to the image */
.heading img {
  max-height: 800px; /* Adjust the maximum height as needed */
  display: block;
  margin: 0 auto;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5)); /* Add a drop shadow */
  transition: transform 0.3s, filter 0.3s;
}

.heading img:hover {
  transform: scale(1.1); /* Zoom in slightly on hover */
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.7)); /* Increase the drop shadow on hover */
}





  /* adds images and space  */
  .A1 {
    text-align: center;
}

.A1 .image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.A1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0,0,02);
    margin: 15px 0;
    transition: 0.2s ease;
    text-align: center;
}

.A1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0,0,0,0.06);

}


.A1 .pro img {
    width: 100%;
    border-radius: 20px;
}

.A1 .pro .description {
  text-align: start;
  padding: 10px 0;
    margin-top: 10px;
}


.A1 .pro .description h5 {
  padding-top: 7px;
  color: white;
  font-size: 14px;

}

.A1 .pro .description .star i.fas.fa-star {
  color: yellow !important;
}








/* SCROLL BAR */
::-webkit-scrollbar{
  width: 20px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px grey;
  border-radius:10px;
}

::-webkit-scrollbar-thumb{
  background: red;
  border-radius: 10px;
}