*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #fcfcfc;
}

.CookieImage{
    position: absolute ;
    bottom: 30px;
    left: 30px;
    text-align: center;
    background:#fff;
    max-width: 365px;
    border-radius: 15px;
    padding: 25px 25px 30px 25px;

}
.CookieImage i