*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #fcfcfc;
}

.CookieImage{
    position: absolute ;
    bottom: 30px;
    left: 30px;
    background:fff

}